<ng-container class="single-product" *ngIf="product">
    <main class="single-product__container">
        <section class="single-product__header">
            <app-image-slider [slides]="this.carousel">
            </app-image-slider>
            <div class="single-product__title-group">
                <h1 class="single-product__title">{{returnNaslov()}}</h1>
                <p class="single-product__dezen">{{product.dezen}}</p>
                <p class="single-product__price">{{product.price}} RSD</p>
                <button class="single-product__btn">Poruči {{product.category}}</button>
            </div>

        </section>
        <section class="single-product__desc">
            <p class="single-product__descTitle">Sadržaj kompleta:</p><br>
            <p>{{returnOgradica()}} <span *ngIf="product.komplet.masne">sa {{product.komplet.masne}} mašne</span></p>
            <p>Posteljina: sastoji se od ravnog jastučeta, čaršava i {{returnPosteljina()}}</p>>
            <p>Dodaci: {{product.additional}}</p>
            <hr color="basic"><br>
            <p>Svi proizvodi iz Mirkine radionice su napravljeni od čistog pamuka i punjeni silikonskim materijalom.</p>
        </section>
    </main>

</ng-container>