/* You can add global styles to this file, and also import other style files */

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Uni Font";
  scroll-behavior: smooth;
}

:root {

  --basic: #424242;

  --primary: #673AB7;
  --primary-50: #EDE7F6;
  --primary-100: #D1C4E9;
  --primary-200: #B39DDB;
  --primary-300: #9575CD;
  --primary-400: #7E57C2;
  --primary-500: #673AB7;
  --primary-600: #5E35B1;
  --primary-700: #512DA8;
  --primary-800: #4527A0;
  --primary-900: #311B92;
  --primary-A100: #B388FF;
  --primary-A200: #7C4DFF;
  --primary-A400: #651FFF;
  --primary-A700: #6200EA;

  --accent: #FFC107;
  --accent-50: #FFF8E1;
  --accent-100: #FFECB3;
  --accent-200: #FFE082;
  --accent-300: #FFD54F;
  --accent-400: #FFCA28;
  --accent-500: #FFC107;
  --accent-600: #FFB300;
  --accent-700: #FFA000;
  --accent-800: #FF8F00;
  --accent-900: #FF6F00;
  --accent-A100: #FFE57F;
  --accent-A200: #FFD740;
  --accent-A400: #FFC400;
  --accent-A700: #FFAB00;

  --warn: #FF5722;
  --warn-50: #FBE9E7;
  --warn-100: #FFCCBC;
  --warn-200: #FFAB91;
  --warn-300: #FF8A65;
  --warn-400: #FF7043;
  --warn-500: #FF5722;
  --warn-600: #F4511E;
  --warn-700: #E64A19;
  --warn-800: #D84315;
  --warn-900: #BF360C;
  --warn-A100: #FF9E80;
  --warn-A200: #FF6E40;
  --warn-A400: #FF3D00;
  --warn-A700: #DD2C00;

}

@font-face {
  font-family: "Uni Font";
  src: url(./assets/fonts/Spartan/Spartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Logo1";
  src: url(./assets/fonts/magic_frankie/MagicFrankie.ttf);
}

@font-face {
  font-family: "Logo2";
  src: url(./assets/fonts/bauhaus-93/Bauhaus93Regular.ttf);
}