$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$phone}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

.adminPanel {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem 0;

    @include phone() {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    &__side-panel {
        width: 100%;
        flex: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        height: 100%;
        padding-inline: 1rem;

        @include phone() {
            flex-direction: row;
            gap: 1rem;
        }
    }

    &__h2-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__filter-h2 {
        color: var(--primary);

        @include phone() {
            font-size: 1rem;
        }
    }

    &__filter-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-200);
        padding: 1rem;
        border-radius: 1rem;
        position: relative;
    }

    &__filter {
        border: .2rem solid var(--primary);
        padding: .5rem;
        border-radius: 1rem;

        @include phone() {
            font-size: .8rem;
        }
    }

    &__disable-filter {
        padding: .5rem;
        border-radius: 1rem;
        background-color: var(--primary);
        outline: 0;
        border: 0;
        width: 100%;
        padding: .5rem 0;
        color: white;
        cursor: pointer;


        @include phone() {
            font-size: .8rem;
        }
    }

    &__sorter-h2 {
        color: var(--primary);

        @include phone() {
            font-size: 1rem;
        }
    }

    &__sorter-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-200);
        padding: 1rem;
        border-radius: 1rem;
        position: relative;

        @include phone() {
            
        }
    }

    &__sorter {
        border: .2rem solid var(--primary);
        padding: .5rem;
        border-radius: 1rem;

        @include phone() {
            font-size: .8rem;
        }
    }

    &__product-container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 0 2rem;
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
        flex: 85%;
        flex-wrap: wrap;
        height: 100%;

        @include tablet() {
            gap: 1rem;
            padding: 0 1rem;
        }
    }

    &__product {
        width: 30%;
        padding-bottom: 0;
        cursor: pointer;

        @include tablet() {
            width: 40%;
        }

        @include phone() {
            width: 100%;
        }
    }

    &__product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__product-title {
        text-transform: capitalize;
    }

    &__product-subtitle {

        font-size: 1rem;
        &--1 {

            @include tablet() {
                font-size: .8rem;
            }
        }
        
        &--2 {
            font-weight: 600;
        }
    }

    &__product-options {
        width: 20%;
        padding: .2rem 0;
        outline: 0;
        border: 0;
        border-radius: .2rem;
        color: white;
        cursor: pointer;
        transition: transform 0.1s ease;

        &:hover {
            transform: scale(1.03);
        }
    }
}