<h1 class="adminPanel__h1">Admin Panel</h1>
<body class="adminPanel">
    <div class="adminPanel__side-panel">
        <button mat-flat-button (click)="onAddDialog()" class="adminPanel__add-btn">Dodaj proizvod</button>
        <button mat-flat-button (click)="logout()" routerLink="" class="adminPanel__logout-btn">Logout</button>
    </div>

    <hr color="basic">

    <div class="adminPanel__product-container">
        <mat-card class="adminPanel__product" *ngFor="let product of products">
            <a class="adminPanel__product-link" routerLink="product/{{product.id}}">
                <img class="adminPanel__product-image" mat-card-image src="{{product.carousel[0].imageUrl}}">
            </a>
            <mat-card-header class="adminPanel__product-header">
                <mat-card-title class="adminPanel__product-title">{{product.category}}</mat-card-title>
                <mat-card-subtitle class="adminPanel__product-subtitle--1">{{product.dezen}}</mat-card-subtitle>
                <mat-card-subtitle class="adminPanel__product-subtitle--2">{{product.price}}</mat-card-subtitle>
                <button class="adminPanel__product-options" mat-raised-button color="warn"
                    (click)="onDeleteDialog(product.id)">Obriši</button>
                <button class="adminPanel__product-options" mat-raised-button color="accent" (click)="onUpdateDialog(product)">Izmeni</button>
            </mat-card-header>
        </mat-card>
    </div>
</body>