<section class="about-us" #aboutUs>
        <div class="about-us_container">
            <article class="about-window">
                <img src="../assets/imgs/timer.png" alt="">
                <h1>Kako je sve počelo?...</h1>
                <p>Godine 2021. jedna žena po imenu Mirka je odlučila da počne da se bavi svojom diplomiranom
                    profesijom, ali je želela da radi od kuće. Kao i većina žena, i Mirka je imala jednu šivaću mašinu
                    koja datira još iz njenih studentskih dana. Malo kreativnosti i pomoći ukućana su omogućili da Mirka
                    napravi svoje prve ručne proizvode!</p>
            </article>
            <article class="about-window">
                <img src="../assets/imgs/idea.png" alt="">
                <h1>Šta radimo?</h1>
                <p>Mirkina radionica je mali biznis osnovan marta 2021. godine. Ideja biznisa je rad sa tekstilom u
                    cilju pravljenja kreativnih proizvoda za tržište Srbije. Do danas, najpopularniji proizvodi koji su
                    izašli iz naše radionice su: gnezda za bebe i oprema za bebi krevetac!</p>
            </article>
            <article class="about-window">
                <img src="../assets/imgs/magic-ball.png" alt="">
                <h1>Šta nam kaže budućnost?</h1>
                <p>Pored plasiranja proizvoda, vizija ove radionice je stvaranje komune za kreativan rad gde bi svako ko
                    želi i voli rad sa tekstilom mogao da doprinese svojom kreativnošću!</p>
            </article>
        </div>
    </section>