<body class="landing">

    <section class="landing__hero">
        <h1 class="landing__hero-logo">Mirkina<br><span class="landing__hero-logo--radionica">radionica</span></h1>
        <h2 class="landing__hero-h2">Dobrdošli<br><span class="landing__hero-h2--sub">u našu radionicu šivenja</span>
        </h2>
        <p class="landing__hero-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloremque eum amet,
            maiores qui accusantium. Libero molestiae, corrupti dignissimos repellendus adipisci enim rem quo, eveniet
            qui a culpa, modi ipsam!</p>
    </section>

    <!-- <section class="home" id="home">
        <article class="home_container">
            <div class="text">
                <h1>Dobrodošli</h1>
                <h2>u našu radionicu šivenja!</h2>
                <p>Dizajnirajte svoje proizvode sami,<br> mi ćemo samo da ih napravimo :)</p>
                <a href="#about-us" class="home_btn">Saznaj još</a>
            </div>
            <div class="slider">
                <figure>
                    <img src="../assets/imgs/banner1.jpg" alt="">
                    <img src="../assets/imgs/banner2.jpg" alt="">
                    <img src="../assets/imgs/banner3.jpg" alt="">
                    <img src="../assets/imgs/banner4.jpg" alt="">
                </figure>
            </div>
        </article>
    </section> -->

    <!-- <section class="about-us" #aboutUs>
        <div class="about-us_container">
            <article class="about-window">
                <img src="../assets/imgs/timer.png" alt="">
                <h1>Kako je sve počelo?...</h1>
                <p>Godine 2021. jedna žena po imenu Mirka je odlučila da počne da se bavi svojom diplomiranom
                    profesijom, ali je želela da radi od kuće. Kao i većina žena, i Mirka je imala jednu šivaću mašinu
                    koja datira još iz njenih studentskih dana. Malo kreativnosti i pomoći ukućana su omogućili da Mirka
                    napravi svoje prve ručne proizvode!</p>
            </article>
            <article class="about-window">
                <img src="../assets/imgs/idea.png" alt="">
                <h1>Šta radimo?</h1>
                <p>Mirkina radionica je mali biznis osnovan marta 2021. godine. Ideja biznisa je rad sa tekstilom u
                    cilju pravljenja kreativnih proizvoda za tržište Srbije. Do danas, najpopularniji proizvodi koji su
                    izašli iz naše radionice su: gnezda za bebe i oprema za bebi krevetac!</p>
            </article>
            <article class="about-window">
                <img src="../assets/imgs/magic-ball.png" alt="">
                <h1>Šta nam kaže budućnost?</h1>
                <p>Pored plasiranja proizvoda, vizija ove radionice je stvaranje komune za kreativan rad gde bi svako ko
                    želi i voli rad sa tekstilom mogao da doprinese svojom kreativnošću!</p>
            </article>
        </div>
    </section> -->

    <section class="landing__shop">
        <h2 class="landing__shop-h2">Naš Shop</h2>
        <div class="landing__shop-cards">
            <button routerLink="store" class="landing__shop-card landing__shop-card--kompleti" routerLink="/store">
                <h3 class="landing__shop-h3">Kompleti za krevetac</h3>
                <img class="landing__shop-icon" src="https://cdn-icons-png.flaticon.com/512/3650/3650655.png" alt="">
            </button>
            <button routerLink="store" class="landing__shop-card landing__shop-card--gnezda">
                <h3 class="landing__shop-h3">Bebi gnezda</h3>
                <img class="landing__shop-icon" src="https://cdn-icons-png.flaticon.com/512/3011/3011636.png" alt="">
            </button>
        </div>
    </section>
    
    <section class="landing__form-section" id="form">
        <h2 class="landing__form-h2">Uvek budite ažurirani!</h2>
        <form class="landing__form">
            <div class="landing__form-field">
                <label class="landing__label" for="name">Vaše ime</label>
                <input class="landing__input" type="text" id="name">
            </div>
            <div class="landing__form-field">
                <label class="landing__label" for="surname">Vaše prezime</label>
                <input class="landing__input" type="text" id="surname">
            </div>
            <div class="landing__form-field">
                <label class="landing__label" for="email">Vaš email</label>
                <input class="landing__input" type="email" id="email">
            </div>
            <button class="landing__form-btn">Prijavite se!</button>
            <p class="landing__form-p">Prijavite se kako biste bili obavešteni o novim dezenima</p>
        </form>

    </section>
</body>