<main class="support">

    <section class="support__hero">
        <h1 class="support__h1">Kako poručiti proizvod?</h1>
        <p class="support__hero-p">Dobrodošli na stranicu za pomoć. <br><br>Ako imate poteškoća prilikom kreiranja
            pordužbine
            ili nekih nejasnoća kako
            se isporučuju proizvodi - <span class="support__hero-p--span">ništa ne brinite, tu smo da Vam
                pomognemo</span>.</p>
    </section>

    <section class="support__articles">
        <div class="support__article support__article--order">
            <div class="support__article-icon-header"><mat-icon
                    class="support__article-icon support__article-icon--order">shopping_bag</mat-icon></div>
            <div class="support__article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, labore
                fugiat, est ipsum in adipisci, impedit illo quibusdam officia sunt deleniti! Pariatur iusto delectus vel
                debitis! Recusandae earum nesciunt iure.</div>
            <button class="support__article-btn"><mat-icon>add</mat-icon></button>
        </div>
        <div class="support__article support__article--delivery">
            <div class="support__article-icon-header"><mat-icon
                    class="support__article-icon support__article-icon--delivery">local_shipping</mat-icon></div>
            <div class="support__article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est impedit
                exercitationem odio voluptas quidem minus voluptates libero repudiandae voluptate, similique culpa atque
                ut eveniet natus quasi asperiores consectetur. Itaque, iusto.</div>
            <button class="support__article-btn"><mat-icon>add</mat-icon></button>
        </div>
        <div class="support__article support__article--general">
            <div class="support__article-icon-header"><mat-icon
                    class="support__article-icon support__article-icon--general">live_help</mat-icon>
            </div>
            <div class="support__article-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, dolorem
                nam deleniti ipsum aliquam maxime ipsa ex eum impedit facilis recusandae cumque veniam ipsam aliquid
                delectus ad nesciunt dicta fuga!</div>
            <button class="support__article-btn"><mat-icon>add</mat-icon></button>
        </div>
    </section>

</main>