<section class="contact" id="contact">
    <div class="contact_container">
        <div class="left">
            <h1>Kako doći do nas?</h1>
            <div class="link instagram">
                <div class="bubble">
                    <a href="https://www.instagram.com/mirkina.radionica/" target="_blank"><img
                            src="../assets/imgs/instagram-brands.svg" alt=""></a>
                </div>
                <div class="rectangle">
                    <p>@mirkina.radionica</p>
                </div>
            </div>
            <div class="link facebook">
                <div class="bubble">
                    <a href="https://www.facebook.com/mirkina.radionica" target="_blank"><img
                            src="../assets/imgs/facebook-f-brands.svg" alt=""></a>
                </div>
                <div class="rectangle">
                    <p>mirkina.radionica</p>
                </div>
            </div>
            <div class="link email">
                <div class="bubble">
                    <img src="../assets/imgs/envelope-solid.svg" alt="mirkina.radionica@gmail.com">
                </div>
                <div class="rectangle">
                    <p>mirkina.radionica@gmail.com</p>
                </div>
            </div>
            <div class="link location">
                <div class="bubble">
                    <img src="../assets/imgs/location-dot-solid.svg" alt="Koste Đurića 5">
                </div>
                <div class="rectangle">
                    <p>Koste Đurića 5<br>23000, Zrenjanin</p>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="../assets/imgs/BrandLogo.jpg" alt="Mirkina Radionica">
        </div>
    </div>
</section>