<h1 class="addProduct__title">Dodaj proizvod</h1>
<div class="addProduct__container">
    <form class="addProduct__form" [formGroup]="productForm" novalidate>

        <mat-form-field color="accent" appearance="fill" class="addProduct__form-field">
            <mat-select class="addProduct__input" formControlName="category" placeholder="Kategorija">
                <mat-option *ngFor="let category of categoryList"
                    [value]="category.value">{{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="productForm.controls.category.value =='komplet'" class="addProduct__komplet"
            formGroupName="komplet">
            <mat-form-field color="accent" class="addProduct__form-field">
                <input matInput class="addProduct__input" type="text" formControlName="ogradica"
                    placeholder="Vrsta ogradice">
            </mat-form-field>
            <mat-form-field color="accent" class="addProduct__form-field">
                <input matInput class="addProduct__input" type="text" formControlName="masne" placeholder="Broj mašni">
            </mat-form-field>
            <mat-form-field color="accent" class="addProduct__form-field">
                <input matInput class="addProduct__input" type="text" formControlName="posteljina"
                    placeholder="Posteljina">
            </mat-form-field>
        </div>

        <mat-form-field color="accent" class="addProduct__form-field">
            <input type="text" matInput placeholder="Vrsta gnezda">
        </mat-form-field>

        <div class="addProduct__form-field--additional">
            <div class="addProduct__checkbox" *ngFor="let check of additionalList; let i = index"
                formGroupName="additional">
                <mat-checkbox color="warn" class="addProduct__input" [value]="check.value"
                    (change)="onCheckChange($event)">{{check.name}}</mat-checkbox>
            </div>
        </div>

        <ng-container formArrayName="carousel">
            <ng-container *ngFor="let image of carousel.controls; let i = index">
                <div [formGroup]="toFormGroup(image)">
                    <mat-form-field color="accent"  class="addProduct__form-field">
                        <input matInput type="text" formControlName="imageUrl" placeholder="slika{{i+1}}">
                    </mat-form-field>
                    <button mat-icon-button (click)="removeImage(i)"><mat-icon>
                            remove</mat-icon></button>
                </div>
            </ng-container>
        </ng-container>
        <button mat-mini-fab (click)="addImage()">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>

        <mat-form-field color="accent" class="addProduct__form-field">
            <input matInput class="addProduct__input" type="text" formControlName="dezen" placeholder="Dezen">
        </mat-form-field>

        <mat-form-field color="accent" class="addProduct__form-field">
            <input matInput class="addProduct__input" type="text" formControlName="price" placeholder="Cena">
        </mat-form-field>

        <button mat-flat-button color="accent" (click)="submitForm()">Submit</button>
    </form>
</div>