.login {
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__form {
        width: 50%;
        background-color: var(--basic);
        display: flex;
        flex-direction: column;
        padding: 3rem;
        border-radius: 2rem;
        gap: 2rem;
    }

    &__form-header {
        color: white;
    }

    &__label {
        color: white;
    }

    &__input {
        color: white;
    }

    &__status {
        color: var(--warn);
    }

}
