<body class="login">
    <form [formGroup]="form" class="login__form" (ngSubmit)="onSubmit()">
        <div class="login__form-header">
            <h2 class="login__form-h2">Administrator login</h2>
            <p class="login__form-subtitle">Unesite svoj email i lozinku</p>
        </div>
        <mat-form-field color="white" class="login__formfield login__formfield--email">
            <mat-label class="login__label login__label--email">Email</mat-label>
            <input class="login__input login__input--email" matInput type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="login__formfield login__formfield--password">
            <mat-label class="login__label login__label--password">Password</mat-label>
            <input class="login__input login__input--password" matInput type="password" formControlName="password" required>
        </mat-form-field>
        <p *ngIf="this.loginErrorMessage" class="login__status">{{this.loginErrorMessage}}</p>
        <button class="login__submit" mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid">Login</button>
    </form>
</body>